.background-pic {
    min-height: 200px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: auto;
    max-width: 100%;
    min-width: 400px;
}

@media screen and (max-width: 990px) {
    .background-pic {
        background-size:auto 100%;
    }
}

.align-center {
    margin: auto;
}

.background-login-pic {
    background-image: url(../imgs/login/login_bg.jpg);
}

.logo {
    padding: 10px;
}

.contain-padding {
    padding-left: 11.27%;
    padding-right: 11.27%;
}

.top-line-normal {
    border-top: solid 25px #25a69d;
    min-width: 400px;
}

.bottom {
    float: 
}

.clear {zoom:1; clear:both;} 
.clear:after {content:''; display:block; clear:both; visibility:hidden; height:0;}

.login-content {
	padding:0 11%;
}

.logo-bottom {
    padding: 0 0 7% 0;
    margin: 0 auto;
}

/*调色盘*/
.color-25a69d {
    color: #25a69d;
}
